#lab pre {
    background: #f3f3f3;
    padding: 10px;
}

@media (min-width: 768px) {
    #pdf-div {
        margin-bottom: -72px;
        border-right: none;
    }
}

#pdf-div {
    border: 1px solid #d8d0d0;
}

.fixed-top-lab {
    position: absolute;
    background: #fff;
    z-index: 1020;
    margin-top: 2.8rem;
    font-size: 22px;
    border-bottom: 1px solid #d8d0d0;
    border-left: 1px solid #d8d0d0;
}